div{
    background-color: gray;
    background-image: url('https://i.pinimg.com/originals/c4/ea/b4/c4eab4aef31cf79b812dcbb14b55ac3d.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    
    width: 350px;
    height: 250px;
    border-radius: 15px;
    margin: 15px;
    float: left;

    transition: 2s;
}

div p.discription {
    display: none;
}

div:hover p.discription {
    display: block;
}

div:hover p.title {
    display: none;
}

img {
    width: 400px;
}

.carousel {
    margin: 20px;
}