div{
    background-color: gray;
    background-image: url('https://koshek.ru/images/big-images/1_soderzhanie/obshie-voprosy/interesnye-fakty-o-koshkah/interesnye-fakty-o-koshkah.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    
    width: 350px;
    height: 250px;
    border-radius: 15px;
    margin: 15px;
    float: left;
    opacity: 0.5;

    transition: 2s;
}

div:hover{
    background-size: auto 150%;
    cursor: pointer;
    opacity: 1;
}

div p.discription {
    display: none;
}

div:hover p.discription {
    display: block;
}

div:hover p.title {
    display: none;
}